.nav-container,
.content-container {
    margin: 0;
    padding: 0;
    flex: 1
}

.content-container {
    margin-top: 5.5vh;
}

.parent-container {
    display: flex;
    flex-direction: column;
}

@media only screen and (max-width: 768px) {
    .content-container {
        margin-top: 6vh;
    }
}

@media only screen and (max-width: 500px) {
    .content-container {
        margin-top: 13vh;
    }
}