<header class="header">
  <nav class="nav">
    <div class="navigation container">
      <div class="nav-logo">
        <a routerLink="/"><img src="/assets/images/logo1.png" alt=""></a>
      </div>
      <div class="menu">
        <div class="top-nav">
          <div class="close">
            <i class="fas fa-times"> </i>
          </div>
        </div>
        <ul class="nav-list">
          <li class="nav-item">
            <a routerLink="" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
              [ngClass]=" { 'active' : isHomeActive() }">Home</a>
          </li>
          <li class="nav-item" id="nav-project">
            <a style="pointer-events: none; cursor: default;" href="" class="nav-link" id="nav-project-link">Projects <i
                class="fas fa-chevron-down"></i>
            </a>
            <div class="dropdown-menu" *ngFor="let project of projects">
              <a class="dropdown-link" routerLink="{{project.link}}">{{project.name}}</a>
            </div>
          </li>
          <li class="nav-item"><a routerLink="/project-ttg" class="nav-link" routerLinkActive="active"
              [ngClass]="{ 'active': isGameActive() }">Project TTG</a>
          </li>
        </ul>
      </div>
      <i class="fa fa-bars hamburger"></i>
    </div>
  </nav>
</header>